<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/vue@next"></script>
  <!-- Bootstrap CSS -->
  <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />

  <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
  <!-- https://cdnjs.com/libraries/font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

  <title>Hello, world!</title>
</head>

<body class="d-flex vw-100 vh-100 align-items-center justify-content-center">
  <div id="app">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " :class="{ 'active' : visibility == 'all'}" @click="visibility = 'all'"
            aria-current="page" href="#">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" :class="{ 'active' : visibility == 'active'}" @click="visibility = 'active'"
            href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" :class="{ 'active' : visibility == 'done'}" @click="visibility = 'done'"
            href="#">Completed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" @click="clearAll" href="#">Clear</a>
        </li>
     
      </ul>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Add a task" v-model="newTodo">
        <button class="btn btn-outline-secondary" type="button" @click="addTodo">+</button>
      </div>

      <ul class="list-group  list-group-flush">
        <li v-for="(item,key) in todoArray" :key="key" class="list-group-item ">
          <div class="input-group mb-3 ">
            <div class="form-check ">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" v-model="item.completed"
                @click="completed">
              <label class="form-check-label w-50" for="flexCheckChecked" :for="item.id"
                :class=" { 'completed' : item.completed  } ">
                {{item.title}}
              </label>
            </div>
            <button class="btn btn-outline-secondary" type="button" @click="delTodo(item)">X</button>
            <button class="btn btn-outline-secondary" type="button" @click="editTodo(item)">Edit</button>
          </div>
        </li>
      </ul>
       <div class="mb-3 d-flex" >
         <label for="" class="form-label"></label>
         <input class="form-control" id="" type="text" v-model="temp.title">
         <button class="btn btn-outline-secondary" type="button" @click="editDone">Done</button>
       </div>
       <span class="nav-item">
        Todos:{{todoArray.length}} 
       </span>
    </div>
  </div>
  <script>
    const wk3 = {
      data() {
        return {
          todoArr: [],
          visibility: 'all',
          id: '',
          completed: false,
          newTodo: '',
          temp:{
            id:'',
            title:'',
            completed:false
          }
        }
      },
      methods: {
        addTodo() {
          // 點了之後li +1
          var timestamp = Math.floor(Date.now())
          var value = this.newTodo.trim()
          if (value != '') {
            this.todoArr.push({
              id: timestamp,
              title: value,
              completed: false,
            })
          } else {
            alert('please add a task')
          }
          this.newTodo = ''
          this.set_localStorage() 
        },
        delTodo(item) {
          // 點了之後li - 1 @click.id === item.id del
          const index = this.todoArr.findIndex(obj => obj.id === item.id)
            this.todoArr.splice(index,1)
            this.set_localStorage() 
        },
   
        clearAll() {
          this.todoArr = []
          this.set_localStorage() 
        },
        editTodo(item){
          this.temp = {...item}
          
        },
        editDone(){
          const index = this.todoArr.findIndex(obj => obj.id === this.temp.id)
         
          this.todoArr[index] = this.temp
          this.temp = {}
          this.set_localStorage() 
        },
        set_localStorage() {
          localStorage.setItem('todolist', JSON.stringify(this.todoArr))
        },
        get_localStorage() {
          this.todoArr = JSON.parse(localStorage.getItem('todolist')) || []
        } 
      },
      mounted() {
        this.get_localStorage()
      },
      computed: {
        todoArray() {
          if (this.visibility == 'all') {
            return this.todoArr
           
          } else if (this.visibility == 'active') {
            //  completed: false
          
            let completedArr = []
            this.todoArr.forEach(  item => {
              if (!item.completed)
             completedArr.push(item)
            });
            return completedArr
       
          } else if (this.visibility == 'done') {
            //  completed: true
      
            let completedArr = []
           
            this.todoArr.forEach(item => {
              if (item.completed)
              completedArr.push(item)
            })
            return completedArr

      
          }
        }

      }
    }
    Vue.createApp(wk3).mount('#app');
  </script>
  <style>
    .completed {
      text-decoration: line-through;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js">
  </script>

</body>

</html>